In [13]:
pip install pymongo

Collecting pymongo
  Obtaining dependency information for pymongo from https://files.pythonhosted.org/packages/c8/1a/1ba5578cc3acc8ef0dfd6eb9385f9c4b0fe3039665af93bcf062c34fcdb6/pymongo-4.6.1-cp311-cp311-win_amd64.whl.metadata
  Downloading pymongo-4.6.1-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Obtaining dependency information for dnspython<3.0.0,>=1.16.0 from https://files.pythonhosted.org/packages/f6/b4/0a9bee52c50f226a3cbfb54263d02bb421c7f2adc136520729c2c689c1e5/dnspython-2.4.2-py3-none-any.whl.metadata
  Downloading dnspython-2.4.2-py3-none-any.whl.metadata (4.9 kB)
Downloading pymongo-4.6.1-cp311-cp311-win_amd64.whl (472 kB)
   ---------------------------------------- 0.0/472.7 kB ? eta -:--:--
   ---------------------------------------- 472.7/472.7 kB 9.8 MB/s eta 0:00:00
Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
   ---------------------------------------- 0.0/300.4 kB ? eta -:--:--
   --------------------------------------- 300.4/300.4 kB 19.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANG'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame
df.head()

,,Date,High,Low,Open,Close,Volume,Adj Close,Name
0,683,2020-01-02,209.7899932861328,206.27000427246094,206.75,209.77999877929688,12077100.0,209.77999877929688,Facebook
1,684,2020-01-03,210.39999389648438,206.9499969482422,207.2100067138672,208.6699981689453,11188400.0,208.6699981689453,Facebook
2,685,2020-01-06,212.77999877929688,206.52000427246094,206.6999969482422,212.60000610351562,17058900.0,212.60000610351562,Facebook
3,686,2020-01-07,214.5800018310547,211.75,212.82000732421875,213.05999755859375,14912400.0,213.05999755859375,Facebook
4,687,2020-01-08,216.24000549316406,212.61000061035156,213.0,215.22000122070312,13475000.0,215.22000122070312,Facebook

In [23]:
df.head(5)

,,Date,High,Low,Open,Close,Volume,Adj Close,Name
0,683,2020-01-02,209.7899932861328,206.27000427246094,206.75,209.77999877929688,12077100.0,209.77999877929688,Facebook
1,684,2020-01-03,210.39999389648438,206.9499969482422,207.2100067138672,208.6699981689453,11188400.0,208.6699981689453,Facebook
2,685,2020-01-06,212.77999877929688,206.52000427246094,206.6999969482422,212.60000610351562,17058900.0,212.60000610351562,Facebook
3,686,2020-01-07,214.5800018310547,211.75,212.82000732421875,213.05999755859375,14912400.0,213.05999755859375,Facebook
4,687,2020-01-08,216.24000549316406,212.61000061035156,213.0,215.22000122070312,13475000.0,215.22000122070312,Facebook

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2840 entries, 0 to 2839
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0              2840 non-null   object
 1   Date       2840 non-null   object
 2   High       2840 non-null   object
 3   Low        2840 non-null   object
 4   Open       2840 non-null   object
 5   Close      2840 non-null   object
 6   Volume     2840 non-null   object
 7   Adj Close  2840 non-null   object
 8   Name       2840 non-null   object
dtypes: object(9)
memory usage: 199.8+ KB