In [1]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Assuming the first row of the CSV file contains headers
        csv_reader = csv.DictReader(csv_file)
        
        # Convert CSV data to a list of dictionaries
        data = [row for row in csv_reader]

    # Write JSON file
    with open(json_file_path, 'w') as json_file:
        # Use json.dump() to write the list of dictionaries to JSON
        json.dump(data, json_file, indent=4)

# Example usage
csv_to_json('covid.csv', 'covid.json')

In [2]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Assuming the first row of the CSV file contains headers
        csv_reader = csv.DictReader(csv_file)
        
        # Convert CSV data to a list of dictionaries
        data = [row for row in csv_reader]

    # Write JSON file
    with open(json_file_path, 'w') as json_file:
        # Use json.dump() to write the list of dictionaries to JSON
        json.dump(data, json_file, indent=4)

# Example usage
csv_to_json('faang_stocks_pandemic_data.csv', 'faang_stocks_pandemic_data.json')

In [8]:
import json

def read_json_file(json_file_path):
    # Open the JSON file for reading
    with open(json_file_path, 'r') as json_file:
        # Use json.load() to load the JSON data from the file
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('covid.json')
# print(json_data)

In [11]:
import json
import pandas as pd

from pymongo import MongoClient

def read_json_file(json_file_path):
    with open(json_file_path, 'r') as json_file:
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('covid.json')

# Convert JSON data to a DataFrame
df = pd.DataFrame(json_data)


# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'COVID'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Convert DataFrame to dictionary and insert into MongoDB
records = df.to_dict(orient='records')
collection.insert_many(records)

# Close the MongoDB connection
client.close()

In [12]:
import json
import pandas as pd

def read_json_file(json_file_path):
    with open(json_file_path, 'r') as json_file:
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('faang_stocks_pandemic_data.json')

# Convert JSON data to a DataFrame
df = pd.DataFrame(json_data)

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANG'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Convert DataFrame to dictionary and insert into MongoDB
records = df.to_dict(orient='records')
collection.insert_many(records)

# Close the MongoDB connection
client.close()

## Mongo DB URI

mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/

In [14]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'COVID'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame
df.head()

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered,total_tests,total_recovered,active_cases
0,30-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0,951337,162202,9375
1,31-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0,1817530,271826,251
2,01-02-2020,Kerala,10.8505,76.2711,2,0,0,1,0,0,230861,178371,80570
3,02-02-2020,Kerala,10.8505,76.2711,3,0,0,1,0,0,249838,41021,982
4,03-02-2020,Kerala,10.8505,76.2711,3,0,0,0,0,0,1499795,97149,145

In [15]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANG'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame
df.head()

,,Date,High,Low,Open,Close,Volume,Adj Close,Name
0,683,2020-01-02,209.7899932861328,206.27000427246094,206.75,209.77999877929688,12077100.0,209.77999877929688,Facebook
1,684,2020-01-03,210.39999389648438,206.9499969482422,207.2100067138672,208.6699981689453,11188400.0,208.6699981689453,Facebook
2,685,2020-01-06,212.77999877929688,206.52000427246094,206.6999969482422,212.60000610351562,17058900.0,212.60000610351562,Facebook
3,686,2020-01-07,214.5800018310547,211.75,212.82000732421875,213.05999755859375,14912400.0,213.05999755859375,Facebook
4,687,2020-01-08,216.24000549316406,212.61000061035156,213.0,215.22000122070312,13475000.0,215.22000122070312,Facebook