In [1]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Assuming the first row of the CSV file contains headers
        csv_reader = csv.DictReader(csv_file)
        
        # Convert CSV data to a list of dictionaries
        data = [row for row in csv_reader]

    # Write JSON file
    with open(json_file_path, 'w') as json_file:
        # Use json.dump() to write the list of dictionaries to JSON
        json.dump(data, json_file, indent=4)

# Example usage
csv_to_json('covid.csv', 'covid.json')

In [1]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Assuming the first row of the CSV file contains headers
        csv_reader = csv.DictReader(csv_file)
        
        # Convert CSV data to a list of dictionaries
        data = [row for row in csv_reader]

    # Write JSON file
    with open(json_file_path, 'w') as json_file:
        # Use json.dump() to write the list of dictionaries to JSON
        json.dump(data, json_file, indent=4)

# Example usage
csv_to_json('FAANG.csv', 'FAANG.json')

In [8]:
import json

def read_json_file(json_file_path):
    # Open the JSON file for reading
    with open(json_file_path, 'r') as json_file:
        # Use json.load() to load the JSON data from the file
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('covid.json')
# print(json_data)

In [11]:
import json
import pandas as pd

from pymongo import MongoClient

def read_json_file(json_file_path):
    with open(json_file_path, 'r') as json_file:
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('covid.json')

# Convert JSON data to a DataFrame
df = pd.DataFrame(json_data)


# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'COVID'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Convert DataFrame to dictionary and insert into MongoDB
records = df.to_dict(orient='records')
collection.insert_many(records)

# Close the MongoDB connection
client.close()

In [3]:
import json
import pandas as pd
from pymongo import MongoClient


def read_json_file(json_file_path):
    with open(json_file_path, 'r') as json_file:
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('FAANG.json')

# Convert JSON data to a DataFrame
df = pd.DataFrame(json_data)

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANGS'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Convert DataFrame to dictionary and insert into MongoDB
records = df.to_dict(orient='records')
collection.insert_many(records)

# Close the MongoDB connection
client.close()

## Mongo DB URI

mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/

In [14]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'COVID'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame
df.head()

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered,total_tests,total_recovered,active_cases
0,30-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0,951337,162202,9375
1,31-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0,1817530,271826,251
2,01-02-2020,Kerala,10.8505,76.2711,2,0,0,1,0,0,230861,178371,80570
3,02-02-2020,Kerala,10.8505,76.2711,3,0,0,1,0,0,249838,41021,982
4,03-02-2020,Kerala,10.8505,76.2711,3,0,0,0,0,0,1499795,97149,145

In [9]:
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANGS'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame

# Set up PostgreSQL connection
username = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
database = 'Stocks'

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

# Insert data into PostgreSQL
table_name = 'FAANG'
df.to_sql(table_name, engine, if_exists='replace', index=False)

840

In [8]:
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine

username = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
database = 'Stocks'

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

print(engine)

# Insert data into PostgreSQL
# query = 'SELECT * FROM FAANG'
df = pd.read_sql_table('FAANG', engine)
df.head()

Engine(postgresql://postgres:***@localhost:5432/Stocks)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [4]:
pip install pyscopg2

Requirement already satisfied: pyscopg2 in c:\python\lib\site-packages (66.0.2)Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [ ]:
import pyscopg2

conn = pyscopg2.connect(host = "localhost", dbname = "stocks", user="postgres", 
                        password = "root", port = 5432)
curr = conn.cursor()

NameError: name 'df' is not defined

In [4]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\python\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python\lib\site-packages (from sqlalchemy) (1.1.2)
Downloading SQLAlchemy-2.0.23-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/2.1 MB 7.3 MB/s eta 0:00:01
   ------------ --------------------------- 0.7/2.1 MB 8.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/2.1 MB 8.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 8.4 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 8.2 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.23
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.1/1.2 MB 3.6 MB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.2 MB 5.6 MB/s eta 0:00:01
   -------------------------- ------------- 0.8/1.2 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 5.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [12]:
pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python\lib\site-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\python\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python\lib\site-packages (from sqlalchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.