In [1]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Assuming the first row of the CSV file contains headers
        csv_reader = csv.DictReader(csv_file)
        
        # Convert CSV data to a list of dictionaries
        data = [row for row in csv_reader]

    # Write JSON file
    with open(json_file_path, 'w') as json_file:
        # Use json.dump() to write the list of dictionaries to JSON
        json.dump(data, json_file, indent=4)

# Example usage
csv_to_json('covid.csv', 'covid.json')

In [1]:
import csv
import json

def csv_to_json(csv_file_path, json_file_path):
    # Read CSV file
    with open(csv_file_path, 'r') as csv_file:
        # Assuming the first row of the CSV file contains headers
        csv_reader = csv.DictReader(csv_file)
        
        # Convert CSV data to a list of dictionaries
        data = [row for row in csv_reader]

    # Write JSON file
    with open(json_file_path, 'w') as json_file:
        # Use json.dump() to write the list of dictionaries to JSON
        json.dump(data, json_file, indent=4)

# Example usage
csv_to_json('FAANG.csv', 'FAANG.json')

In [8]:
import json

def read_json_file(json_file_path):
    # Open the JSON file for reading
    with open(json_file_path, 'r') as json_file:
        # Use json.load() to load the JSON data from the file
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('covid.json')
# print(json_data)

In [11]:
import json
import pandas as pd

from pymongo import MongoClient

def read_json_file(json_file_path):
    with open(json_file_path, 'r') as json_file:
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('covid.json')

# Convert JSON data to a DataFrame
df = pd.DataFrame(json_data)


# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'COVID'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Convert DataFrame to dictionary and insert into MongoDB
records = df.to_dict(orient='records')
collection.insert_many(records)

# Close the MongoDB connection
client.close()

In [1]:
import json
import pandas as pd
from pymongo import MongoClient


def read_json_file(json_file_path):
    with open(json_file_path, 'r') as json_file:
        data = json.load(json_file)
        return data

# Example usage
json_data = read_json_file('FAANG.json')

# Convert JSON data to a DataFrame
df = pd.DataFrame(json_data)

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANGS'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Convert DataFrame to dictionary and insert into MongoDB
records = df.to_dict(orient='records')
collection.insert_many(records)

# Close the MongoDB connection
client.close()

## Mongo DB URI

mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/

In [3]:
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine


# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'COVID'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame

# Set up PostgreSQL connection
username = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
database = 'Stocks'

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

# Insert data into PostgreSQL
table_name = 'COVID'
df.to_sql(table_name, engine, if_exists='replace', index=False)

692

In [9]:
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine

# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'FAANGS'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame

# Set up PostgreSQL connection
username = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
database = 'Stocks'

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

# Insert data into PostgreSQL
table_name = 'FAANG'
df.to_sql(table_name, engine, if_exists='replace', index=False)

840

In [6]:
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine


# MongoDB connection parameters
mongo_uri = 'mongodb+srv://smulani239:Arif2212$@databaseprogramming.eavdhnn.mongodb.net/'  # Replace with your MongoDB URI
database_name = 'Database'
collection_name = 'HealthStocks'

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[database_name]
collection = db[collection_name]

# Fetch data from MongoDB collection
cursor = collection.find({})

# Convert MongoDB cursor to DataFrame
df = pd.DataFrame(list(cursor))

# Close the MongoDB connection
client.close()

df = df.drop('_id', axis=1)
# Display the DataFrame

# Set up PostgreSQL connection
username = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
database = 'Stocks'

engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

# Insert data into PostgreSQL
table_name = 'HealthStocks'
df.to_sql(table_name, engine, if_exists='replace', index=False)

536

In [7]:
import psycopg2
import pandas as pd

# Replace these values with your database connection details
user = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
dbname = 'Stocks'

# Create a connection to the database
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Create a cursor object
cur = conn.cursor()

# Replace 'your_table_name' with the actual table name
query = "SELECT * FROM Stocks.COVID;"
cur.execute(query)

# Fetch all rows from the result set
rows = cur.fetchall()

# Get the column names from the cursor description
columns = [desc[0] for desc in cur.description]

# Create a DataFrame from the fetched data and column names
df = pd.DataFrame(rows, columns=columns)

# Close the cursor and connection
cur.close()
conn.close()

# Display the DataFrame
print(df)

UndefinedTable: relation "stocks.covid" does not exist
LINE 1: SELECT * FROM Stocks.COVID;
                      ^

In [9]:
import pandas as pd
from sqlalchemy import create_engine

# Replace these values with your database connection details
user = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
dbname = 'Stocks'

# Create a connection string
connection_string = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}"

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

# Replace 'your_table_name' with the actual table name
table_name = 'COVID'

# Fetch data from the table into a Pandas DataFrame
query = f"SELECT * FROM {table_name};"
df = pd.read_sql_query(query, engine)

# Display the DataFrame
print(df)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Replace these values with your database connection details
user = 'postgres'
password = 'root'
host = 'localhost'
port = 5432
dbname = 'Stocks'

# Create a connection string
connection_string = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}"

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

# Replace 'your_table_name' with the actual table name
table_name = 'COVID'

df_from_postgresql = pd.read_sql_table(table_name, engine)
# Display the DataFrame
df_from_postgresql

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered,total_tests,total_recovered,active_cases
0,30-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0,951337,162202,9375
1,31-01-2020,Kerala,10.8505,76.2711,1,0,0,0,0,0,1817530,271826,251
2,01-02-2020,Kerala,10.8505,76.2711,2,0,0,1,0,0,230861,178371,80570
3,02-02-2020,Kerala,10.8505,76.2711,3,0,0,1,0,0,249838,41021,982
4,03-02-2020,Kerala,10.8505,76.2711,3,0,0,0,0,0,1499795,97149,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4687,06-08-2020,Telangana,18.1124,79.0193,73050,589,52103,2092,0,1289,23767171,1162140,76731
4688,06-08-2020,Tripura,23.9408,91.9882,5725,31,3793,97,0,68,62056,9985,52
4689,06-08-2020,Uttar Pradesh,26.8467,80.9462,104388,1857,60558,4078,0,3287,7127129,1761664,5388
4690,06-08-2020,Uttarakhand,30.0668,79.0193,8254,98,5233,246,0,386,2656926,1003559,9287
4691,06-08-2020,West Bengal,22.9868,87.855,83800,1846,58962,2816,0,2078,5117,16357,1671

In [15]:
pip install --upgrade 'sqlalchemy<2.0'

Note: you may need to restart the kernel to use updated packages.

The system cannot find the file specified.

In [2]:
pip install psycopg2

Collecting psycopg2
  Obtaining dependency information for psycopg2 from https://files.pythonhosted.org/packages/37/2c/5133dd3183a3bd82371569f0dd783e6927672de7e671b278ce248810b7f7/psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --- ------------------------------------ 0.1/1.2 MB 1.3 MB/s eta 0:00:01
   ------------------- -------------------- 0.6/1.2 MB 5.2 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 6.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.