In [18]:
import yfinance as yf

# Replace 'AAPL' with the stock symbol of your choice
stock_symbol = 'MSFT'

# Set the start and end dates for the data you want to retrieve
start_date = '2019-01-01'
end_date = '2023-01-01'

# Fetch historical stock data
stock_data = yf.download(stock_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2019-01-02   99.550003  101.750000   98.940002  101.120003   96.023262
2019-01-03  100.099998  100.190002   97.199997   97.400002   92.490776
2019-01-04   99.720001  102.510002   98.930000  101.930000   96.792427
2019-01-07  101.639999  103.269997  100.980003  102.059998   96.915886
2019-01-08  103.040001  103.970001  101.709999  102.800003   97.618599
...                ...         ...         ...         ...         ...
2022-12-23  236.110001  238.869995  233.940002  238.729996  236.631805
2022-12-27  238.699997  238.929993  235.830002  236.960007  234.877365
2022-12-28  236.889999  239.720001  234.169998  234.529999  232.468735
2022-12-29  235.649994  241.919998  235.649994  241.009995  238.891754
2022-12-30  238.210007  239.960007  236.660004  239.820007  237.712250

              Volume
Date
2019-01-02  35329300
2019-01-03  42579100
2019-01-04  44060600
2019-01-07  35656100
2019-01-08  31514400
...              ...
2022-12-23  21207000
2022-12-27  16688600
2022-12-28  17457100
2022-12-29  19770700
2022-12-30  21938500

[1008 rows x 6 columns]

In [19]:
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,99.550003,101.750000,98.940002,101.120003,96.023262,35329300
2019-01-03,100.099998,100.190002,97.199997,97.400002,92.490776,42579100
2019-01-04,99.720001,102.510002,98.930000,101.930000,96.792427,44060600
2019-01-07,101.639999,103.269997,100.980003,102.059998,96.915886,35656100
2019-01-08,103.040001,103.970001,101.709999,102.800003,97.618599,31514400

In [5]:
pip install alpha_vantage

Collecting alpha_vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Requirement already satisfied: aiohttp in c:\python\lib\site-packages (from alpha_vantage) (3.8.4)
Requirement already satisfied: requests in c:\python\lib\site-packages (from alpha_vantage) (2.31.0)
Requirement already satisfied: attrs>=17.3.0 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (22.2.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (3.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\python\lib\site-packages (from aiohttp->alpha_vantage) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\python\lib\site-packages (from requests->alpha_vantage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python\lib\site-packages (from requests->alpha_vantage) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\lib\site-packages (from requests->alpha_vantage) (2022.12.7)
Installing collected packages: alpha_vantage
Successfully installed alpha_vantage-2.3.1
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [ ]:
RZMGD1EIB3Q2K3KA

In [15]:
from alpha_vantage.timeseries import TimeSeries

# Replace 'YOUR_API_KEY' with the key you obtained from Alpha Vantage
api_key = 'RZMGD1EIB3Q2K3KA'
symbol = 'MSFT'  # NIFTY 50 index

# Create a TimeSeries instance with your API key
ts = TimeSeries(key=api_key, output_format='pandas')

# Get real-time data
data, meta_data = ts.get_quote_endpoint(symbol=symbol)

# Print the real-time data
print(data)

             01. symbol  02. open  03. high   04. low 05. price 06. volume  \
Global Quote       MSFT  369.2000  374.4600  368.2300  374.2300   20154366

             07. latest trading day 08. previous close 09. change  \
Global Quote             2023-12-08           370.9500     3.2800

             10. change percent
Global Quote            0.8842%